#table_package{
	margin:auto;
	width: 70%;
	text-align:center;
}

#panel_show_all{
	margin: auto;
	width: 70%;
}

#form_input_group{
	margin: auto;
	width: 70%;
}

textarea{
	padding-left: 20px;
	text-align: left;
}

#title{
	margin: auto;
	width: 70%;
	/*marign:auto;*/
	padding: 25px 5px 12px;
	border-bottom: 1.5px solid grey;
}


#myModal{
	background: transparent;
}

#Modal{
	width:50%;
	height: 420px;
	border:1px solid grey;
	border-radius: 18px;

	position: absolute;
	top: 80px;
	left: 25%;
	
	display:  none;
	background-color: #ddd;

}
#Modal .body{
	height: 360px;
	overflow: auto;
}

.show_msg{
	border:1px solid #e1e1e1;
	background: #e1e1e1;
}

#table_mac tr td{
	/*border:1px solid grey;*/
}

#table_mac td:hover{
	background: #f5f5f5;
}

.show{
	display: inline;
}